*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan' sans-serif;
}
body{
    width: 100%;
}
/* navbar start here */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #E3E6F3 ;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
     
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    transition: 0.3s ease;
    font-family:cursive;
}
#navbar li a:hover,
#navbar li a.active{
    color: #f70505;
    
}
 
#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}
 #navbar .dropdown{
    display: none;
    width: 150px;
    padding-top: 10px;
    position: absolute;
    background: #E3E6F3;
    border-top:2px solid #f70909;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
 }
 #navbar li:hover .dropdown{
    display: block;
 }
 #navbar .dropdown .item{
    padding: 7px 10px;
 }
 .nav-item-2 {
    display: flex;
    align-items: center;
    
 }
 .nav-item-2 li{
    padding: 0 10px;
    list-style: none;
    font-size: 18px;
    transition: 0.3s;
 }
 .nav-item-2 li:hover{
    color: #f70505;
 }
/* navbar end here */

/* banar section start */
.home{
    background-image: url(./hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    padding: 0 80px;
 }
 /* .home-text{
   
    width: 50%;
 } */
 .home-text h3{
    color: #f70909;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
 }
 .home-text h1{
    padding-top: 20px;
    font-size: 45px;
    font-family: sans-serif,Arial,cursive;
 }
 .home-text p{
    padding:20px 100px 0 0;
    color: #302e2e;
    font-size: 16px;
 }
 .btn{
    margin-top: 30px;
    padding: 15px 25px;
    border: transparent;
    border-radius: 5px;
    color: red;
    background-image: linear-gradient(to right,white,#fff);
    font-size: 18px;
    line-height: 15px;
    font-weight: 600;
    transition: 0.6s;
 }
 .btn:hover{
    background: red;
    color: #fff;
 }
/* banar end */

/* NEw arraival atart */
.new-arraival{
    margin: 40px 80px;
  }
 .new-arraival h2{
    font-weight: 900px;
    font-size: 2.4rem;
    font-family: 'Poiret One', sans-serif;
    color: #000000;
  }
 .new-arraival .arraival-img{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 0;
 }
 .arraival-img .image img{
    width:100%;
 }
 .image h3{
    color: #444444;
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;
    padding: 10px 0;
 }
 .image .shop-n{
    color: #918468;
    font-weight: 600;
    position: relative;
    font-family: 'Poiret One', sans-serif;
 }

 .trending-this-week{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
 }
 .trending-this-week ul a{
    text-decoration: none;
    color: #302e2e;
    padding: 0 1rem;
    transition: 0.3s;
 }
 .trending-this-week ul a:hover{
    color: #f70505;
 }
 .line{
    position: relative;
 }
.horizontal-line::before{
    content: '';
    width: 100%;
    height: 1px;
    background: #e6e0e0;
    position: absolute;
    top: 20px;
}
.image-hover{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.image-hover img{
    width: 100%;
    cursor: pointer;
}
.box-content-hovewr .ccc h5{
   font-family: 'Poiret One', sans-serif;
    color: #000000;
    padding-bottom: 10px;
}
 
.ccc{
   text-align: center;
   padding: 1rem 0;
}
.ccc a{
   font-size: 1rem;
   font-family:'Quicksand', sans-serif ;
}
.ccc del{
   color: #918468;
   padding-left: 4px;
}
/* .hover-content{
   display:block;
   background: #0e0d0d;
   width: 150px;
   padding: 10px 13px;
}
.hover-content i{
   color: #fff;
   padding: 0 9px;
   font-size: 1.2rem;
   transition: 0.3s;
} */
.hover-content i:hover{
    color: #f70505;
}
 
 

@media screen and  (max-width:992px) {
    /* (min-width:599px) and */
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px; 
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    .nav-item-2{
        display: none;
    }
    #navbar.active{
       right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
        list-style: none
    }
    #mobile i{
        color: #000000;
        font-size: 20px;
        padding: 15px;
    }
    
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000000;
        font-size: 20px;
    }
    .home{  
        height: 80vh;
    }
    .home-text h1{
        font-size: 35px;
     }
     .new-arraival{
        margin: 30px 50px;
      }
      .new-arraival h2{
        font-size: 18;
      }
      .new-arraival .arraival-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
     .image-hover{ 
      grid-template-columns: repeat(2,1fr); 
  }
}

@media (max-width:599px){
    #header{
        padding: 10px 30px;
    }
    .home{
        padding: 0 30px;
        height: 80vh;
    }
    .home-text h1{
        padding-top: 10px;
     }
     .new-arraival{
        margin: 30px 40px;
      }
      .new-arraival .arraival-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-top: 30px ;
     }
     .image{
        padding-bottom: 20px;
     }  
     .trending-this-week  {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
     }
     .trending-this-week ul a{
        padding-left: 0;
     }
     .horizontal-line{
        display: none;
     }
     .image-hover{ 
      grid-template-columns: repeat(1,1fr); 
     }
}